:root{
    // bleu
    --bleu-mer: #5D7CA6;
    --bleu-fonce: #023059;
    --bleu-clair: #73A2BF;
    --bleu-pale: #A7E5F2;

    // beige
    --beige: #F2CAA7;
    --beige-muted: #A68A72;

    // brun
    --brun: #59362E;
    --brun-orange: #593802;
    --brun-clair: #BF9F73;

    // vert
    --vert-fonce: #2E594A;
}